<a *ngIf="!this.machineTypeService.list"
style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="active"
class="list-group-item clearfix">
<div class="pull-left">
  <h4 class="list-group-item-heading">{{ machineType.name }}</h4>
  <h4 >{{ machineType.id }}</h4>
</div>
</a>

<a *ngIf="this.machineTypeService.list"
style="cursor: pointer;"
class="list-group-item clearfix">
<div class="pull-left">
  <h4 class="list-group-item-heading">{{ machineType.name }}</h4>
  <h4 >{{ machineType.id }}</h4>
</div>
</a>