
<h2>Busqueda de clase</h2>
<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <label for="gymClass">Tipo de Clase</label>
            <input
            type="text"
            id="gymClass"
            formControlName="gymClass"
            class="form-control"
            style="width: 400px;"
            placeholder="Inserte el nombre de la clase"
            >
            <label for="gym">Sucursal</label>
            <input
            type="text"
            id="gym"
            formControlName="gym"
            class="form-control"
            style="width: 400px;"
            placeholder="Inserte el nombre de la sucursal o gimnasio"
            >
           
        </div>
        
        <div class="form-group">
            <button style="margin-top: 10px;" class="btn btn-primary" [disabled]="!form.valid">
                Buscar
            </button>
        <hr>
        </div>
      </form>
    </div>
  </div>
  <hr>
  <table class="table table-striped">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre de la Clase</th>
          <th scope="col">Sucursal</th>
          <th scope="col">Fecha</th>
          <th scope="col">Hora de Inicio</th>
          <th scope="col">Hora de Finalizacion</th>
          <th scope="col">Grupal</th>
          <th scope="col">Campos Disponibles</th>


        </tr>
      </thead>
    <tbody>
        <tr *ngFor="let row of tabla_clases">
            <td *ngFor="let cell of row">
                {{ cell }}
            </td>
        </tr>
    </tbody>
</table>
<hr>

  