
 <hr>
<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <label for="gymClass">Registro de clase</label>
            <input
            type="text"
            id="gymClass"
            formControlName="gymClass"
            class="form-control"
            style="width: 400px;"
            placeholder="Inserte el ID de la clase"
            >
        </div>
        
        <div class="form-group">
            <button style="margin-top: 10px;" class="btn btn-primary" [disabled]="!form.valid">
                Registrar
            </button>
            <a style="margin-top: 10px;" routerLink="/client/clases" class="btn btn-link">Atrás</a>
        <hr>
        </div>
      </form>
    </div>
  </div>
 
  