<div class="row">  
    <div class="row" style="margin-top: 10px;">
      <div class="col-xs-12">
          <h1> {{ job.name }}</h1>
      </div>
    </div>  
  <hr>
  <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
    <div class="col-xs-12">
      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manejar Puesto de Trabajo <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="onEditJob()">Editar Puesto de Trabajo</a></li>
          <li><a style="cursor: pointer;" (click)="onDeleteJob()">Eliminar Puesto de Trabajo</a></li>
        </ul>
      </div>
    </div>
  </div>